# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
AlicloudHttpDNS
module.modulemap
HttpdnsServiceProvider.h
HttpdnsDegradationDelegate.h
AlicloudHttpDNS.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/AlicloudUtils
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/ABSBootingProtection.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/ABSUncaughtExceptionHandler.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/ABSUtil.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudHTTPDNSMini.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudIPv6Adapter.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudReachabilityManager.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudReport.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudTracker.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudTrackerManager.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AlicloudUtils.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/AntilockBrakeSystem.h
Pods/PolyvAliHttpDNS/AlicloudUtils.framework/Headers/UtilLog.h
AlicloudUtils
Pods/PolyvAliHttpDNS/UTMini.framework/Info.plist
Pods/PolyvAliHttpDNS/UTMini.framework/UTMini
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitor.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorAlarm.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorBase.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorCounter.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorDimension.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorDimensionSet.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorDimensionValueSet.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorMeasure.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorMeasureSet.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorMeasureValue.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorMeasureValueSet.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorStat.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/AppMonitorTable.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UT.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTAnalytics.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTBaseRequestAuthentication.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTCustomHitBuilder.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTHitBuilder.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTICrashCaughtListener.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTIRequestAuthentication.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTOirginalCustomHitBuilder.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTPageHitBuilder.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTSecuritySDKRequestAuthentication.h
Pods/PolyvAliHttpDNS/UTMini.framework/Headers/UTTracker.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Info.plist
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKAVMoviePlayerController.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKFFMonitor.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKFFMoviePlayerController.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKFFOptions.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKKVOController.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKMediaFramework.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKMediaModule.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKMediaPlayback.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKMediaPlayer.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKMPMoviePlayerController.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKNotificationManager.h
Pods/PolyvIJKPlayer/IJKMediaFramework.framework/Headers/IJKSDLGLViewProtocol.h
IJKMediaFramework
Pods/PolyvVodSDK/PLVVodSDK.framework/Info.plist
Pods/PolyvVodSDK/PLVVodSDK.framework/PLVVodSDK
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodAd.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodAdPlayerViewController.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodConstans.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodDownloadInfo.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodDownloadManager+Database.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodDownloadManager.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodExam.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodLocalVideo.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodPlayerSkinProtocol.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodPlayerUtil.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodPlayerViewController.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodSDK.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodSettings.h
Pods/PolyvVodSDK/PLVVodSDK.framework/Headers/PLVVodVideo.h
Info.plist
